---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$yarn-blue:         #5592d7;
$yarn-blue-dark:    #357AC6;
$yarn-blue-darker:  #1460B4;
$yarn-blue-darkest: #fff;

$safe-accent-yellow: #f8ca64;


$text-muted:    #52585e;
$text-muted-er: #6d767d;

$navbar-light-color:          rgba(0,0,0,.6);
$navbar-light-hover-color:    rgba(0,0,0,.7);
$navbar-light-active-color:   rgba(0,0,0,.8);
$navbar-light-disabled-color: rgba(0,0,0,.3);

$brand-primary: $yarn-blue;
$progress-bar-color: $brand-primary;

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;

$headings-font-family: 'Roboto Slab', serif;
// $headings-font-weight;
// $headings-line-height;


$link-color: saturate(darken($brand-primary, 8%), 20%);

$npm-red: #C12127;

@import "bootstrap/scss/bootstrap.scss";
@import "_base.scss";
@import "_navbar.scss";
@import "_icons.scss";
@import "_heros.scss";
@import "_features.scss";
@import "_featurettes.scss";
@import "_guides.scss";
@import "_code.scss";
@import "_users.scss";
@import "_404.scss";
@import "_tabs.scss";
@import "_navs.scss";
@import "_cards.scss";
@import "_tags.scss";
@import "_compare.scss";
@import "_toc.scss";
@import "_footer.scss";
@import "_search.scss";
